#container-create-recipe-page {
    padding-top: 10px;
}

#breadcrumb {
    padding: 1rem 0 2rem 0;
}

#border-create-recipe{
    box-sizing: border-box;
    padding: 1rem;
    border-color: lightgray;
    border-style: solid;
}

#container-create-recipe {
    max-width: 960px;
    /* box-sizing: border-box; */
    margin-left: auto;
    margin-right: auto;
}

#form-create-recipe {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#btn-save {
    align-self: flex-end;
}

#container-addItem {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#text-addItem {
    flex-basis: 26rem;
}

#btn-addItem {
    display:flex;
    align-items: center;
}

#btn-group-create-recipe {
    display: flex;
    justify-content: flex-end;
}