#container-grocerfy-page {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 62rem;
}

.grocerfyList-container{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-color: lightgray;
    border-style: solid;
}

.item-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-color: lightgray;
    border-style: solid;
}