.burger {
    position: absolute;
    left: 4.4rem;
    top: 1.2rem;
    /* display: none; */
}
.burger#active .bar:nth-child(2) {
    opacity: 0;
}
.burger#active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.burger#active .bar:nth-child(3) {
    transform: translateY(-4px) rotate(-45deg);
}
.bar {
    display: block;
    width: 19px;
    height: 2px;
    margin: 4px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}