#btn-icon-container {
    display: flex;
    align-items: center;
    width: 700px;
    justify-content: space-between;
  }


.btn-icons { 
    display: flex;
    align-items: center;
    
}

/* alternative to styling is create a new class on hover of btn-icons */
.btn-icons > button:hover {
    background-color: transparent;
    color: #067A46;
    cursor: pointer;
}

.btn-icons > div > div > button:hover {
    color: #067A46;
    cursor: pointer;
}

.btn-icons > div:hover {
    background-color: transparent;
    color: #067A46;
    cursor: pointer;
}



/* Card */
#MUIcard {
    position: relative;
}

/* garbage icon */
#MUIcardheader {
    height: 0px;
    position: absolute;
    z-index: 1;
    right: 0;
 }