#container-recipes-page {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 62rem;
}

#container-recipes-page > div {
    display: flex;
    justify-content: flex-end;
}

#recipes-list {
    display: flex;
    justify-content: center;
    padding-top: 23px
}